@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Pixels&display=swap');
body{
    background-image: url(./img/nuevofondo.jpg);
    font-family: Creepster ;
}
h1{
    color: purple;
    background-color: rgba(0, 255, 255, 0.609);
    text-align: center;

}
div{
   height: 500px;
    background-image: url(./img/bannernuevo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
article{
    background-image: url(./img/fondocart.webp);
    background-size: 250px;
    background-color: beige;
    width: 220px;
    display: inline-block;
    margin: 100px;
}
article img{
width: 220px;
}
h2{
    color:rgb(164, 16, 8) ;
    background-color: blanchedalmond;
}
p{
    color: rgb(164, 16, 8) ;
    background-color: blanchedalmond;
}